@media (max-width: 576px) {
    .hero {
        background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../images/background-home-mobile.jpg') center/cover no-repeat;
        height: 100vh;
    }
}

@media (min-width: 576px) {
    .hero {
        background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../images/background-home-mobile.jpg') center/cover no-repeat;
        height: 100vh;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .hero {
        background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(2, 2, 2, 0.25)), url('../images/background-home-tablet.jpg') center/cover no-repeat;
        height: 100vh;
    }
    .navbar-content{
        right: 1%!important;
    }
    .lg-md-navbar {
        width:500px!important;
    }
    
    .nav-background {
        width:500px!important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hero {
        background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../images/background-home-desktop.jpg') center/cover no-repeat;
        height: 100vh;
        z-index: -55;
    }
    .navbar-content{
        right: 10%!important;
    }
    .lg-md-navbar {
        width:1000px!important;
    }
    
    .nav-background {
        width:1000px!important;
    }
    .navbar-content a{
        margin-right: 20px!important;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar-content{
        right: 10%!important;
    }
    .navbar-content a{
        margin-right: 50px!important;
    }
}

.lg-md-navbar {
 
    height: 90px;
    position: relative;
}

.nav-background {
    position: absolute;
 
    height: 90px;
    top: 0;
    left: 0;
    /* filter: blur(10px); */
    backdrop-filter: blur(20px);
}

.navbar-content{
    position: absolute;
    top: 40%;
    right: 10%;
}

.navbar-content a{
    text-decoration: none;
    color: #c5c5c5;
    margin-right: 20px;
    z-index: 99999;
    font-family: 'Roboto Mono', monospace;
}

.header-line{
    height: 1px;
    width: 700px;
    background-color: #c5c5c5b0;
    z-index:1;
}

.hero-text-L1{
    font-size: 1.4rem;
    font-family: 'Roboto Mono', monospace;
}

.space-title{
    font-size: 10rem;
    font-family: 'Marcellus', serif;
}

.hero-text-L2{
    font-family: 'Roboto Mono', monospace;
}

.header-text-content{
    width: 400px;
}

.header-content{
    margin-top: 200px;
}